<!--<div class="container">
  <h3>New Budget</h3>
  <form #form="ngForm" novalidate>
    <div class="form-group">
      
      <label>Month</label>
      <input type="text" step="0.01" class="form-control" required name="id" placeholder="e.g January"
          [(ngModel)] ="budget.month">

      <label>Income</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.income">

      <label>Saving</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.saving">
          
      <label>Housing</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.housing">

      <label>Utilities</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.utilities">

      <label>Food</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.food">

      <label>Transportation</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.transportation">

      <label>Clothing</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.clothing">

      <label>Medical/Health</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.medicalAndHealth">
      
      <label>Insurance</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.insurance">
      
      <label>Personal</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.personal">

      <label>Recreation</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.recreation">

      <label>Debts</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.debts">

      <label>Charity/Gifts</label>
      <input type="number" step="0.01" class="form-control" required name="id" placeholder="0.00"
          [(ngModel)] ="budget.charitableGifts">

    </div>
    <button class="btn btn-primary" (click) = 'clickSubmit()' type="submit">Ok</button>
  </form>
</div>-->




<div class="add-budget-container">
    <mat-form-field>
      <input matInput placeholder="Month" [formControl]="month" required
            [(ngModel)] = "budget.month">
        <mat-error *ngIf="month.invalid">
            {{getErrorMessageMonth()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00" matInput placeholder="Income" [formControl]="income" required
            [(ngModel)] = "budget.income">
        <mat-error *ngIf="income.invalid">
            {{getErrorMessageIncome()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Saving" [formControl]="savings" required
            [(ngModel)] = "budget.saving">
        <mat-error *ngIf="income.saving">
            {{getErrorMessageSaving()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Housing" [formControl]="housing" required
            [(ngModel)] = "budget.housing">
        <mat-error *ngIf="housing.invalid">
            {{getErrorMessageHousing()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Utilities" [formControl]="utilities" required
            [(ngModel)] = "budget.utilities">
        <mat-error *ngIf="utilities.invalid">
            {{getErrorMessageUtilities()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Food" [formControl]="food" required
            [(ngModel)] = "budget.food">
        <mat-error *ngIf="food.invalid">
            {{getErrorMessageFood()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Clothing" [formControl]="clothing" required
            [(ngModel)] = "budget.clothing">
        <mat-error *ngIf="clothing.invalid">
            {{getErrorMessageClothing()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Transportation" [formControl]="transportation" required
            [(ngModel)] = "budget.transportation">
        <mat-error *ngIf="transportation.invalid">
            {{getErrorMessageTransportation()}}
        </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Medical/Health" [formControl]="medicalAndHealth" required
            [(ngModel)] = "budget.medicalAndHealth">
        <mat-error *ngIf="medicalAndHealth.invalid">
            {{getErrorMessageMedical()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Insurance" [formControl]="insurance" required
            [(ngModel)] = "budget.insurance">
        <mat-error *ngIf="insurance.invalid">
            {{getErrorMessageInsurance()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Personal" [formControl]="personal" required
            [(ngModel)] = "budget.personal">
        <mat-error *ngIf="personal.invalid">
            {{getErrorMessagePersonal()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Recreation" [formControl]="recreation" required
            [(ngModel)] = "budget.recreation">
        <mat-error *ngIf="recreation.invalid">
            {{getErrorMessageRecreation()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Debts" [formControl]="debts" required
            [(ngModel)] = "budget.debts">
        <mat-error *ngIf="debts.invalid">
            {{getErrorMessageDebts()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Charity/Gifts" [formControl]="charitableGifts" required
            [(ngModel)] = "budget.charitableGifts">
        <mat-error *ngIf="charitableGifts.invalid">
            {{getErrorMessageCharity()}}
        </mat-error>
    </mat-form-field>
    
    <button class="btn btn-primary" (click) = 'clickSubmit()' type="submit">Ok</button>

</div>
