
<form  class="add-budget-container" [formGroup]="form" > 
    <mat-form-field>
      <input matInput placeholder="Month" formControlName="month" required
            [(ngModel)] = "budget.month">
        <mat-error *ngIf="form.get('month').invalid && form.get('month').touched">
            {{getErrorMessageMonth()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00" matInput placeholder="Income" formControlName="income" required
            [(ngModel)] = "budget.income">
        <mat-error *ngIf="form.get('income').invalid && form.get('income').touched">
                {{getErrorMessageIncome()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Saving" formControlName="savings" required
            [(ngModel)] = "budget.saving">
        <mat-error *ngIf="form.get('savings').invalid && form.get('savings').touched">
            {{getErrorMessageSaving()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Housing" formControlName="housing" required
            [(ngModel)] = "budget.housing">
        <mat-error *ngIf="form.get('housing').invalid && form.get('housing').touched">
            {{getErrorMessageHousing()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Utilities" formControlName="utilities" required
            [(ngModel)] = "budget.utilities">
        <mat-error *ngIf="form.get('utilities').invalid && form.get('utilities').touched">
            {{getErrorMessageUtilities()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Food" formControlName="food" required
            [(ngModel)] = "budget.food">
        <mat-error *ngIf="form.get('food').invalid && form.get('food').touched">
            {{getErrorMessageFood()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Clothing" formControlName="clothing" required
            [(ngModel)] = "budget.clothing">
        <mat-error *ngIf="form.get('clothing').invalid && form.get('clothing').touched">
            {{getErrorMessageClothing()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Transportation" formControlName="transportation" required
            [(ngModel)] = "budget.transportation">
        <mat-error *ngIf="form.get('transportation').invalid && form.get('transportation').touched">
            {{getErrorMessageTransportation()}}
        </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Medical/Health" formControlName="medicalAndHealth" required
            [(ngModel)] = "budget.medicalAndHealth">
        <mat-error *ngIf="form.get('medicalAndHealth').invalid && form.get('medicalAndHealth').touched">
            {{getErrorMessageMedical()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Insurance" formControlName="insurance" required
            [(ngModel)] = "budget.insurance">
        <mat-error *ngIf="form.get('insurance').invalid && form.get('insurance').touched">
            {{getErrorMessageInsurance()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Personal" formControlName="personal" required
            [(ngModel)] = "budget.personal">
        <mat-error *ngIf="form.get('personal').invalid && form.get('personal').touched">
            {{getErrorMessagePersonal()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Recreation" formControlName="recreation" required
            [(ngModel)] = "budget.recreation">
        <mat-error *ngIf="form.get('recreation').invalid && form.get('recreation').touched">
            {{getErrorMessageRecreation()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Debts" formControlName="debts" required
            [(ngModel)] = "budget.debts">
        <mat-error *ngIf="form.get('debts').invalid && form.get('debts').touched">
            {{getErrorMessageDebts()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" step="0.01" value="0.00"  matInput placeholder="Charity/Gifts" formControlName="charitableGifts" required
            [(ngModel)] = "budget.charitableGifts">
        <mat-error *ngIf="form.get('charitableGifts').invalid && form.get('charitableGifts').touched">
            {{getErrorMessageCharity()}}
        </mat-error>
    </mat-form-field>
    
    <button class="btn btn-primary" [disabled]= "!form.valid" (click) = 'clickSubmit()' type="submit">Submit</button>
</form>
