<div class='card'>
  <div class='card-header'>
    Budgets
  </div>
  <div class='card-body'>
    <div class = 'table-responsive'>
      <table class='table'
        *ngIf='budgets && budgets.length'>
        <thead>
          <tr>
            <th>Month</th>
            <th>Income</th>
            <th>Saving</th>
            <th>Housing</th>
            <th>Utilities</th>
            <th>Food</th>
            <th>Transport</th>
            <th>Clothing</th>
            <th>Medical/Health</th>
            <th>Insurance</th>
            <th>Personal</th>
            <th>Recreation</th>
            <th>Debts</th>
            <th>Charity/Gifts</th>
            <th></th>
            <th>Total</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let budget of budgets'>

            <td style="font-weight:bold"><a [routerLink] = "['/budgets', budget.month]">
              {{budget.month}}
            </a></td>
            <td>
              {{budget.income | currency}}
            </td>
            <td>
              {{percentageOfIncome(budget.saving, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.housing, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.utilities, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.food, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.transportation, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.clothing, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.medicalAndHealth, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.insurance, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.personal, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.recreation, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.debts, budget.income) | percent}}
            </td>
            <td>
              {{percentageOfIncome(budget.charitableGifts, budget.income) | percent}}
            </td>
            <td></td>
            <td style="font-weight:bold" [ngStyle]="{'color': percentageOfIncome(budget.totalExpense, budget.income) > 1 ? 'red' : 'black'}">
              {{percentageOfIncome(budget.totalExpense, budget.income) | percent}}
            </td>
          </tr>
          <tr>
            <td style="font-weight:bold">Average</td>
            <td style="font-weight:bold">{{avgBudget.avgIncome | currency}}</td>
            <td style="font-weight:bold">{{avgBudget.avgSaving | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgHousing | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgUtilities | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgFood | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgTransportation | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgClothing | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgMedical | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgInsurance | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgPersonal | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgRecreation | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgDebts | percent}}</td>
            <td style="font-weight:bold">{{avgBudget.avgCharity | percent}}</td>
            <td></td>
            <td style="font-weight:bold" [ngStyle]="{'color': avgBudget.avgExpenses > 1 ? 'red' : 'black'}">{{avgBudget.avgExpenses | percent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>