<div class='card' *ngIf ='budget'>
    <div class='card-header'>
      {{budget.month}}
    </div>
    <div class = 'table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th style="font-weight:bold">Income</th>
            <th>Saving</th>
            <th>Housing</th>
            <th>Utilities</th>
            <th>Food</th>
            <th>Transportation</th>
            <th>Clothing</th>
            <th>Medical/Health</th>
            <th>Insurance</th>
            <th>Personal</th>
            <th>Recreation</th>
            <th>Debts</th>
            <th>Charity/Gifts</th>
            <th></th>
            <th style="font-weight:bold">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-weight:bold">
              {{budget.income | currency}}
            </td>
            <td>
              {{budget.saving | currency}}
            </td>
            <td>
              {{budget.housing | currency}}
            </td>
            <td>
              {{budget.utilities | currency}}
            </td>
            <td>
              {{budget.food | currency}}
            </td>
            <td>
              {{budget.transportation | currency}}
            </td>
            <td>
              {{budget.clothing | currency}}
            </td>
            <td>
              {{budget.medicalAndHealth | currency}}
            </td>
            <td>
              {{budget.insurance | currency}}
            </td>
            <td>
              {{budget.personal | currency}}
            </td>
            <td>
              {{budget.recreation | currency}}
            </td>
            <td>
              {{budget.debts | currency}}
            </td>
            <td>
              {{budget.charitableGifts | currency}}
            </td>
            <td></td>
            <td style="font-weight:bold">
              {{budget.totalExpense | currency}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='card-footer'>
      <button class='btn btn-outline-secondary'
        (click) = 'clickBack()'
        style='width:80px'>
        Back
      </button>
    </div>
  </div>