
div.card-header {
    font-size: large;
   }
div.card {
     margin-top: 10px
   }
.table {
     margin-top: 10px
   }

thead
{
    color: #337AB7
}



body
{
    margin:0;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css"